input{
    background-color: transparent;
    border: transparent;
    text-align: center;
    font-size: 1rem;
    width: 3rem;
}

input:focus, textarea:focus, select:focus{
    outline: none !important;
}